<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IndigoRDD</title>

    <!-- Bootstrap Core CSS -->
	<%= stylesheet_link_tag "bootstrap"%>
    <!-- Theme CSS -->
	<%= stylesheet_link_tag "freelancer" %>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
					<%= image_tag "longLogoBlack.png", :id => "homeImg" %>
				                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!---<li class="page-scroll">
                        <a href="#portfolio">Who We Are</a>
                    </li>
					-->
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
		 <%= image_tag "headerRDD.png", :class => "img-responsive pt100", :alt => "" %>      
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div>
            <div class="row">
				<div class="bottomSectionPadding"> </div>
                <div class="col-lg-12 text-center">
                    <h2>At Indigo RDD, <span class="pinkText">We Believe...</span></h2>
                </div>
            </div>
			            <div id="believeContainer">
			                <div class="believeContainer__row">
			                    <div class="believeContainer--grayBG believeContainer__leftBox believeContainer__row__box">
			                        <div>
										<%= image_tag "computerGrey.png" %>       
			                        </div>
									<div class="bottomPadding"> </div>
			                        <div class="believeContainer__row__box__title">Times are changing</div>
									<div class="bottomPadding"> </div>
			                        <div class="believeContainer__row__box__copy">Mobile technology is everywhere, it's time to start leveraging it. Our software transforms the devices your patients already have into powerful data-gathering tools.</div>
			                    </div>
			                    <div class="believeContainer__rightBox believeContainer__row__box">
			                        <div>			
										<%= image_tag "carFancyPurpWhite.png" %>       
			                		</div>
									<div class="bottomPadding"> </div>
			                        <div class="believeContainer__row__box__title">Patients shouldn't be burdened by the clinic</div>
									<div class="bottomPadding"> </div>
			                        <div class="believeContainer__row__box__copy">One of the greatest difficulties for any patient managing a chronic illness or participating in a clinical trial is traveling to and from the clinic. Give your patients one less thing to worry about by collecting data remotely.</div>
			                    </div>
			                </div>
			                <div class="believeContainer__row">
			                    <div class="believeContainer__leftBox believeContainer__row__box">
			                        <div>
										<%= image_tag "housePurpGreyCopy.png" %>       
			                        </div>
									<div class="bottomPadding"> </div>
			                        <div class="believeContainer__row__box__title">Real-world settings mean real-world results</div>
									<div class="bottomPadding"> </div>
			                        <div class="believeContainer__row__box__copy">Get a sense of life outside the clinic from your patient's perspective. Daily patient check-ins get you the information you need, on demand and straight from the source.
			</div>
			                    </div>
			                    <div class="believeContainer--grayBG believeContainer__rightBox believeContainer__row__box">
			                        <div>
										<%= image_tag "phoneTripleGrey.png" %>       
			                        </div>
									<div class="bottomPadding"> </div>
			                        <div class="believeContainer__row__box__title">Better quality data isn't a luxury, it's a necessity</div>
									<div class="bottomPadding"> </div>
			                        <div class="believeContainer__row__box__copy">Why settle for subpar or incomplete data sets if you don't have to? Fill in the gaps between patient visits and strengthen your clinical data by utilizing our remote monitoring tools.</div>
			                    </div>
			                </div>
			            </div>
        </div>
    </section>

    <!-- About Section -->
	
    <section class="success" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
					<div class="largeTopPadding"> </div>
					<div class="bottomSectionPadding"> </div>
                    <h3>Ready to Learn More? Contact Us.</h3>
					<div class="bottomSectionPadding"> </div>
					<h4 class="pinkText"><%= mail_to "info@indigordd.com "%></h4>
					<div class="bottomSectionPadding"> </div>
                </div>
            </div>
            <div class="row">
                <div col-lg-offset-2">
                    <p class="centeredPara">If you'd like to learn more about what Indigo RDD can do for you, let's get the conversation started. Send us an email at info@indigordd.com and we'll be in touch shortly.</p>
                </div>
				<div class="largeTopPadding"> </div>
				<div class="largeTopPadding"> </div>
				
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; IngidoRDD 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
	<%= javascript_include_tag "jquery" %>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<%= javascript_include_tag "bootstrap" %>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

	<%= javascript_include_tag "contact_me" %>
	<%= javascript_include_tag "freelancer" %>
	
</body>

</html>
